
.custom-toolbar {
  --min-height: 80px; 
  --padding-top: 10px;
  --padding-bottom: 10px;
}

/* Lado Izquierdo */
.header-web-title {
  margin: 0;
  padding-left: 15px;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  letter-spacing: 0.5px;
}

/* 
  Centro: Posicionamiento absoluto para que el logo 
  siempre esté al medio sin importar qué botones haya a los lados
*/
.header-logo-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Centrado matemático perfecto */
  height: calc(100% - 10px); /* Para que el logo crezca casi igual que el header */
  max-height: 70px; /* Límite para que no se deforme */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

/* Lado Derecho */
.account-btn {
  font-weight: bold;
  font-size: 0.9rem;
  --color: white;
}

.admin-label {
  background-color: #ffaa00; /* Color distintivo para el admin */
  color: #000;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 700;
  margin-right: 10px;
  align-self: center; /* Centrado vertical junto a los botones */
}

